@media (prefers-color-scheme: light) {
  body {
    background-color: #fefefe;
  }

  .article-container {
    background-color: #fefefe;
    box-shadow: none;
  }

  .article.markdown-body blockquote {
    background-color: #EEEEEE;
    border-left: 6px solid #9E9E9E;
  }

  .tag {
    color: #c41a16;
  }
}

@media (prefers-color-scheme: dark) {
  .tag {
    color: #d4e157;
  }

  .article-container {
    background-color: #222831;
  }
}

.base-body {
  display: block;
  margin: -1px auto;
  max-width: 900px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  overflow: hidden;
}

.article-container iframe {
  margin-top: 8px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

}

.article-container {
  box-shadow: none;
  padding-left: 0px;
  padding-right: 0px;
}

.tag.nogi {
  color: #812990;
}

.tag.hinata {
  color: #7cc7e8;
}

.tag.sakura {
  color: #f19db5;
}

.tag.keyaki {
  color: #5eb954;
}

.site.name {
  font-size: 20px;
}


@media only screen and (min-width:640px) {
  .article-container {
    box-shadow: none;
  }

  .note.list .item {
    padding: 32px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
  }
}

@media only screen and (max-width:640px) {
  .note.list {
    margin-left: 0px;
    margin-right: 0px;
  }

  .site.header {
    /* margin-left: -16px; */
    /* margin-right: -16px; */
  }
}


.article.markdown-body p {
  padding-bottom: 1px;
}

.article.markdown-body blockquote {
  border-left: 6px solid #9E9E9E;
}

.article.markdown-body li {
  margin-top: 4px;
  margin-bottom: 4px;
}

.article.markdown-body li+li {
  margin-top: 4px;
}


.article.header {
  text-align: start;
  margin-bottom: 32px;
}

.article.title {
  font-size: 20px;
}

.article.date {
  margin-top: 16px;
}

.note.list .item {
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,.12);
}

.site.header {
  border-bottom: 0px;
  user-select: none;
}

.twitter-tweet {
  display: block;
  margin: 0px auto;
}

.expand-content {
  width: 100%;
  margin: 5px 0 10px 0;
  color: rgba(0,0,0,.85);
  background-color: #fff;
  border-radius: 8px;
  /* display: block; */
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: -4px;
  border: 2px solid #e6e6e6;
}

.expand-content a:hover {
  text-decoration: none;
}

.expand-content .title {
  font-size: 17px;
  font-weight: 700;
  color: #616161;
}

.expand-content .content {
  font-size: 15px;
  color: #9E9E9E;
}

@media only screen and (max-width: 640px) {
  .markdown-body .embed-caption {
    margin-top: -4px;
  }
}

.article.markdown-body h1,
.article.markdown-body h2,
.article.markdown-body h3 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #e6e6e6;
}
