body {
  background-color: #fefefe;
}

.base-body {
  display: block;
  margin: -1px auto;
  max-width: 900px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  overflow: hidden;
}

.article-container iframe {
  padding-top: 20px;
  padding-bottom: 20px;
}

.article-container {
  background-color: #fefefe;
  box-shadow: none;
}

.article.header {
  text-align: start;
  margin-bottom: 32px;
}

.article.date {
  margin-top: 16px;
}

.note.list .item {
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,.12);
}

.site.header {
  border-bottom: 0px;
  user-select: none;
}

.twitter-tweet {
  display: block;
  margin: 0px auto;
}
