html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', 'Segoe UI', 
                Ubuntu, Roboto, Oxygen, Cantarell, 'Fira Sans', 'Droid Sans',
                'Helvetica Neue', Helvetica, Arial, Verdana, 'Lucida Grande', 
                sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

@media only screen and (min-width:640px) {
  html {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.note.content {
  padding-top: 4px;
  font-size: 13px;
}

@media only screen and (min-width:640px) {
  .note.content {
    padding-top: 4px;
    font-size: 14px;
  }
}
